body {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000; /* Encabezados en negro */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000; /* Borde negro */
}

button[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #47b736; /* Botón negro */
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333333; /* Color oscuro al pasar el cursor */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #000000; /* Enlaces en negro */
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline; /* Subrayar al pasar el cursor */
}

/* Estilos para la tabla (puedes ajustarlos según tu diseño) */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #f2f2f2; /* Resaltado al pasar el cursor */
}